 <div class="container mt-4">
<h1>Mensajes</h1>
<%= link_to 'Add new mensaje', new_message_path %>
<br>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Usuario</th>
    <th scope="col">Informacion</th>
            <th scope="col">Id chat asociado</th>
    <th scope="col">Acciones</th>

    </tr>
  </thead>
  <tbody>
  <% @messages.each_with_index do |message,index| %>
  <%= render partial: 'message', locals: {message:message, index:index } %>

    <% end %>
  </tbody>
</table>
</div>