    <tr>
      <td>
      <%= chat.sender.firstname %>
      </td>
      <td>
      <%= chat.receiver.firstname %>
      </td>
      <td>
        <%= link_to 'Ver', chat_path(chat), class: "btn btn-primary btn-sm" %>
        <%= link_to 'Editar', edit_chat_path(chat), class: "btn btn-primary btn-sm" %>
      </td>
    </tr>