 <div class="container mt-4">
<h1>Chats</h1>

<%= link_to 'Add new chat', new_chat_path %>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Nombre remitente</th>
      <th scope="col">Nombre receptor</th>
    <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
  <% @chats.each_with_index do |chat,index| %>
    <%= render partial: 'chat', locals: {chat:chat, index:index } %>
    <% end %>
  </tbody>
</table>
</div>